@model UpdateViewModel

<link href="~/assets1/css/oldpro/animate2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/backtotop2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/bootstrap2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/default2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/elegantfont2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/fontawesome5pro2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/jquery.fancybox.min2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/meanmenu2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/owl.carousel2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/preloader2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/style2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/swiper-bundle2.css" rel="stylesheet" />
<link href="~/assets1/css/fontawesome5pro.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/fontawesome5pro2.css" rel="stylesheet" />
<!-- sign up area start -->
<section class="signup__area po-rel-z1 pt-100 pb-145">

    <div class="container">
        <div class="row">
            <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                <div class="section__title-wrapper text-center mb-55">
                    <h2 class="section__title">Edit you <br>  Account</h2>
                    <p>Easily track and manage your expenses.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="sign__wrapper white-bg">
                    <div class="sign__header mb-35">
                        <div class="sign__in text-center">
                            <p> <span>........</span> <a href="sign-up.html">sign up</a> with your email<span> ........</span> </p>
                        </div>
                    </div>
                    <div class="sign__form">
                        <form asp-action="EditProfile" asp-controller="Account" method="post">
                            <div class="sign__input-wrapper mb-25">
                                <h5>Name</h5>
                                <div class="sign__input">
                                    <input asp-for="Name" placeholder="Enter Name">
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                    <i class="fal fa-envelope"></i>

                                </div>
                            </div>

                            <div class="sign__input-wrapper mb-25">
                                <h5>Email</h5>
                                <div class="sign__input">
                                    <input asp-for="Email" placeholder="e-mail address">
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                    <i class="fal fa-envelope"></i>

                                </div>
                            </div>
                  

                            <div class="sign__input-wrapper mb-10">
                                <h5>Mobile</h5>
                                <div class="sign__input">
                                    <input asp-for="Mobile" placeholder="Mobile Number">
                                    <i class="fal fa-mobile"></i>

                                </div>
                            </div>
                            <div class="sign__input-wrapper mb-10">
                                <h5>Gender</h5>
                                <div class="sign__input">
                                    <select asp-for="Gender" class="form-control sign__select" asp-items="@Html.GetEnumSelectList<EnumsList.Genders>()" placeholder="Select Gender"></select>
                                    <span asp-validation-for="Gender" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group text-center">
                                <input type="submit" value="Save" class="btn btn-primary" />
                            </div>                       
                            <div class="sign__new text-center mt-20">
                                <p>Already a user ? <a asp-action="Login"> Sign In</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
