@* @model UpdateViewModel *@

@* @{ *@
@*     ViewData["Title"] = "Edit Profile"; *@
@* } *@

@* <h2>Edit Profile</h2> *@

@* <form method="post" enctype="multipart/form-data"> *@
@*     <div class="form-group"> *@
@*         <label for="name">Name</label> *@
@*         <input type="text" class="form-control" id="name" name="Name" value="@Model.Name" /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="email">Email</label> *@
@*         <input type="email" class="form-control" id="email" name="Email" value="@Model.Email" /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="profileImage">Profile Picture</label> *@
@*         <input type="file" class="form-control" id="profileImage" name="Img" /> *@
@*         @if (!string.IsNullOrEmpty(ViewBag.ProfilePicture)) *@
@*         { *@
@*             <img src="~/images/@ViewBag.ProfilePicture" alt="Profile Picture" width="100" /> *@
@*         } *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="oldPass">Current Password</label> *@
@*         <input type="password" class="form-control" id="oldPass" name="OldPass" /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="newPass">New Password</label> *@
@*         <input type="password" class="form-control" id="newPass" name="NewPass" /> *@
@*     </div> *@
@*     <div class="form-group"> *@
@*         <label for="confirmNewPass">Confirm New Password</label> *@
@*         <input type="password" class="form-control" id="confirmNewPass" name="ConfirmNewPass" /> *@
@*     </div> *@
@*     <button type="submit" class="btn btn-primary">Update Profile</button> *@
@* </form> *@
