@model LoginViewModel

<style>
    body {
        background: url('../assets/images/image7.png') no-repeat center center fixed;
        background-size: cover;
    } 
</style>

<link href="~/assets1/css/oldpro/animate2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/backtotop2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/bootstrap2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/default2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/elegantfont2.css" rel="stylesheet" />
@* <link href="~/assets1/css/oldpro/fontawesome5pro2.css" rel="stylesheet" /> *@
<link href="~/assets1/css/fontawesome5pro.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/jquery.fancybox.min2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/meanmenu2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/owl.carousel2.min.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/preloader2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/style2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/swiper-bundle2.css" rel="stylesheet" />
<link href="~/assets1/css/oldpro/fontawesome5pro2.css" rel="stylesheet" />

<section class="signup__area po-rel-z1 pt-100 pb-145">
    <div class="sign__shape">
        <img class="man-1" src="~/assets/img/icon/sign/man-1.png" alt="">
        <img class="man-2" src="~/assets/img/icon/sign/man-2.png" alt="">
        <img class="circle" src="~/assets/img/icon/sign/circle.png" alt="">
        <img class="zigzag" src="~/assets/img/icon/sign/zigzag.png" alt="">
        <img class="dot" src="~/assets/img/icon/sign/dot.png" alt="">
        <img class="bg" src="~/assets/img/icon/sign/sign-up.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 offset-xxl-2 col-xl-8 offset-xl-2">
                <div class="section__title-wrapper text-center mb-55">
                    <h2 class="section__title">Sign in <br></h2>
                    <p>Use your financial tracker</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xxl-6 offset-xxl-3 col-xl-6 offset-xl-3 col-lg-8 offset-lg-2">
                <div class="sign__wrapper white-bg cardTrp">
                    <div class="sign__header mb-35">
                        <div class="sign__in text-center">
                            <p> <span>........</span><a href="sign-in.html">sign in</a> with your email<span> ........</span> </p>
                        </div>
                    </div>
                    <div class="sign__form">
                        <form asp-action="Login" asp-controller="Account" method="post">
                            <div class="sign__input-wrapper mb-25">
                                <h5>Email</h5>
                                <div class="sign__input">
                                    <input asp-for="Email" placeholder="e-mail address">
                                    <i class="fal fa-envelope"></i>
                                </div>
                            </div>
                            <div class="sign__input-wrapper mb-10">
                                <h5>Password</h5>
                                <div class="sign__input">
                                    <input asp-for=Password placeholder="Password">
                                    <i class="fal fa-lock"></i>
                                </div>
                            </div>
                            <div class="sign__action d-sm-flex justify-content-between mb-30">
                                <div class="sign__agree d-flex align-items-center">
                                    <input asp-for="RememberMe" class="m-check-input" type="checkbox" id="m-agree">
                                    <label class="m-check-label" for="m-agree">
                                        Keep me signed in
                                    </label>
                                </div>
                                <div class="sign__forgot">
                                    <a href="#">Forgot your password?</a>
                                </div>
                            </div>
                            <button class="e-btn  w-100"> <span></span> Sign In</button>
                            <div class="sign__new text-center mt-20">
                                <p>New to the tracker? <a asp-action="Register">Sign Up</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>