@using Microsoft.AspNetCore.Identity;
@inject SignInManager<ApplicationUser> signInManager;
<!DOCTYPE html>
<html lang="en">
<head>

	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Spendsmart</title>
	<link rel="stylesheet" href="../assets/libs/OwlCarousel-2/dist/assets/owl.carousel.min.css">
	<ink rel="stylesheet" href="../dist/css/iconfont/tabler-icons.css">
	<link rel="stylesheet" href="../dist/css/style.css">
	<link rel="stylesheet" href="../assets1/css/style.css" />
	<link rel="stylesheet" href="~/dist/css/style.css">
	<link href="~/scss/dist/logoutstyle.css" rel="stylesheet" />

</head>
<body>

	<header class="main-header w-100">
		<div class="container">
			<nav class="navbar navbar-expand-xl py-0">
				<div class="logo">
					<a class="navbar-brand py-0 me-0" href="#"><img src="../assets/images/sasscandy-logo.svg" alt=""></a>
				</div>
				<a class="d-inline-block d-lg-block d-xl-none d-xxl-none  nav-toggler text-decoration-none" data-bs-toggle="offcanvas" href="#offcanvasExample" aria-controls="offcanvasExample">
					<i class="ti ti-menu-2 text-warning"></i>
				</a>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav me-auto">
						@if (signInManager.IsSignedIn(User))
						{
							<li class="nav-item">
								<a asp-area="" asp-controller="Home" asp-action="Index" class="nav-link text-capitalize">Home</a>
							</li>

							<li class="nav-item">
								<a asp-area="" asp-controller="Tracker" asp-action="AddExpense" class="nav-link text-capitalize">Add Expenses</a>
							</li>
							<li class="nav-item">
								<a asp-area="" asp-controller="Tracker" asp-action="ViewExpenses" class="nav-link text-capitalize">View Expenses</a>
							</li>
							<li class="nav-item">
								<a asp-controller="Account" asp-action="Profile" class="nav-link text-capitalize">Profile</a>
							</li>
						}
					</ul>

					<div class="d-flex ms-auto align-items-center">
						@if (signInManager.IsSignedIn(User))
						{
							<form asp-action="ConfirmLogout" asp-controller="Account" method="post">
								@* btn-warning btn-hover-secondery text-capitalize *@
								<input type="submit" class="btn custom3 fw-bold" value="Logout" />
							</form>
						}
						else
						{
							@if (ViewData["CurrentPage"]?.ToString() != "Login" && ViewData["CurrentPage"]?.ToString() != "Register")
							{
								<li class="nav-item">
									<a asp-controller="Account" asp-action="Login" class="btn btn-warning btn-hover-secondery text-capitalize">Login</a>
								</li>
								<li class="nav-item">
									<a asp-controller="Account" asp-action="Register" class="btn btn-warning btn-hover-secondery text-capitalize">Register</a>
								</li>

								
							}
							<!-- Register and Log In buttons -->
						}
					</div>

				</div>
			</nav>
		</div>
	</header>
	<!------------------------------>
	<!-- Header End  -->
	<!------------------------------>
	<main>
		@RenderBody();
	</main>
	<!------------------------------>
	<!-----Footer Start------------->
	<!------------------------------>
	<footer class="footer">
		<div class="container">
			<div class="row">
				<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="footer-logo-col">
						<a href="#"><img src="../assets/images/footer/Logo.svg"></a>
						<p class="blue-light mb-0 fs-7 fw-500">
							Your simple, elegant, and secure way to track and manage your personal finances.
						</p>
						<div class="callus text-white fw-500 fs-7">
							19 Shuwaikh Lane
							<div class="blue-light">Call us: <a href="#" class="text-warning fw-500 fs-7 text-decoration-none">80809599</a></div>
						</div>
					</div>
				</div>
				<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
					<h5 class="text-white">Social</h5>
					<ul class="list-unstyled mb-0 pl-0">
						<li><a href="#">Blog</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>
				</div>
				<div class="col-xxl-2 col-xl-2 col-lg-2 col-md-6 col-sm-12">
					<h5 class="text-white">Company</h5>
					<ul class="list-unstyled mb-0 pl-0">
						<li><a href="#">About</a></li>
						<li><a href="#">Affiliates</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Legal & Privacy</a></li>
					</ul>
				</div>
				<div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 col-sm-12">
					<div class="subscribe">
						<h5 class="text-white">Subscribe</h5>
						<p class="blue-light fw-500">
							Subscribe to get the latest news form us
						</p>
						<div class="input-group">
							<input type="email" class="form-control br-15" placeholder="Enter email address" aria-label="Enter email address" aria-describedby="button-addon2">
							<button class="btn btn-warning btn-hover-secondery ms-xxl-2 ms-xl-2 ls-lg-0 ms-md-0 ms-sm-0 ms-0" type="button" id="button-addon2">Register</button>
						</div>
					</div>
				</div>
			</div>
			<div class="copyrights text-center blue-light  fw-500"><span id="autodate">2023</span> - All Rights Reserved by <a class="blue-light text-decoration-none">AbkKuwait.com</a> Dsitributed By <a class="blue-light text-decoration-none">Coded</a></div>
		</div>
	</footer>
	<!------------------------------>
	<!-------Footer End------------->
	<!------------------------------>
</body>

<script src="../dist/js/jquery.min.js"></script>
<script src="../dist/js/bootstrap.min.js"></script>
<script src="../assets/libs/OwlCarousel-2/dist/owl.carousel.min.js"></script>
<script src="../dist/js/custom.js"></script>
</html>