@model Tracker.Models.Expense

@{
    ViewData["Title"] = "AddExpense";
}

<h1>AddExpense</h1>

<h4>Expense</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExpense" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ExpenseAmount" class="control-label"></label>
                <input asp-for="ExpenseAmount" class="form-control" />
                <span asp-validation-for="ExpenseAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExpenseDate" class="control-label"></label>
                <input asp-for="ExpenseDate" class="form-control" />
                <span asp-validation-for="ExpenseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Curency" class="control-label"></label>
                <select asp-for="Curency" class="form-control" asp-items="Html.GetEnumSelectList<EnumsList.Currencies>()"></select>
				<option value="-1">------------ Select Currency ----------</option>
            </div>
            <div class="form-group">
                    <label asp-for="Recurring" class="font-weight-bold"></label>
                    <input asp-for="Recurring" class="form-check-input"/>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

